<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>South SF Enrollment Bar Chart</title>

  <!-- Leaflet CSS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"> -->

  <!-- Our CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="#"> -->

</head>

<body>

  <!-- The div that holds our map -->
  <h2>Enrollment in South SF over Years</h2>

  <!-- D3 -->
  <script src="static/js/d3.js"></script>

  <!-- Main JavaScript -->
  <script type="text/javascript" src="static/js/main.js"></script>

  <!-- Leaflet JavaScript -->
  <!-- <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script> -->

  <!-- API Key -->
  <!-- <script type="text/javascript" src="#"></script> -->


</body>

</html>
